.fondoLogin{
    background-image: url(../imagenes/fondoLogin.jpg);
    position: absolute;
    top:0; right:0;
    bottom:0; left:0;
    width: 1366px;//
}
.bordeRedondo{
    border-radius: 34px 90px 34px 90px;
    -moz-border-radius: 34px 90px 34px 90px;
    -webkit-border-radius: 34px 90px 34px 90px;
    border: 0px solid #000000;
    background-color: #3F3E41;
}
