<div class="container">
    <div>
        <h1>Estadisticas</h1>
        <div style="float: left">
             <canvas id="myChart" width="600" height="500"></canvas>
        </div>
        <div style="margin-left: 10px; float: left" class="input-group">
            <select class="form-control"  ng-model="nombreArchivo">
                <option ng-repeat="archivo in listaArchivos" value="{{archivo.name}}">{{archivo.name}}</option> 
            </select>
            <button ng-click="ObtenerEstadisticasArchivo()">Buscar</button>
        </div>
    </div>
</div>